<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="pagetitle">
        <h1>Assurances</h1>
      </div>

      <div class="px-3">
        <div class="d-flex justify-content-center">
          <div class="form-group" style="width: 25%">
            <label for="packAssuranceSelect" class="d-flex align-items-center">
                Filter by type:&nbsp;&nbsp;
                <i class="fas fa-sliders-h"></i>
            </label>
            <select class="form-control form-control-sm" id="packAssuranceSelect" [(ngModel)]="selectedPackAssurance">
              <option value="">All</option>
              <option value="AGRICOLE">AGRICOLE</option>
              <option value="SANTE">SANTE</option>
              <option value="ENTREPRENEUR">ENTREPRENEUR</option>
              <option value="SCOLAIRE">SCOLAIRE</option>
            </select>
          </div>
        </div>
      </div>


      <br/>

      <table class="table datatable" *ngIf="(assurances?.length ?? 0) > 0">
        <thead>
        <tr>
          <th *ngFor="let header of getHeaders()">{{ header }}</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let assurance of filterAssurances()">
          <td *ngFor="let header of getHeaders()">
            {{ getAssuranceData(assurance)[header.toLowerCase().replaceAll(' ', '_')] }}
          </td>
          <td>
            <button class="btn btn-primary" style="margin-right: 0.5rem;" (click)="openDetailsModal(assurance, detailsModal)">
              <i class="fas fa-info-circle mr-2"></i>
            </button>
            <button class="btn btn-danger" (click)="openDeleteModal(assurance.id, deleteModal)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
        </tbody>

      </table>
      <p *ngIf="assurances?.length === 0">No assurance data available.</p>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="currentPage"
          [pageSize]="pageSize"
          (pageChange)="getAllAssurances()"
        ></ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getAllAssurances()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="6">8 items per page</option>
          <option [ngValue]="6">10 items per page</option>
        </select>
      </div>

    </div>
  </div>
</div>


<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Assurance Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p><strong>ID:</strong> {{ selectedAssurance.id }}</p>
    <p><strong>Date Payement:</strong> {{ selectedAssurance.date_payement }}</p>
    <p><strong>Montant Prime:</strong> {{ selectedAssurance.montant_prime }}</p>
    <p><strong>Durée Contrat:</strong> {{ selectedAssurance.duree_contrat }}</p>
    <p><strong>Remboursement en cas de Sinistre:</strong> {{ selectedAssurance.remboursement_en_cas_de_sinsitre }}</p>
    <p><strong>Franchise:</strong> {{ selectedAssurance.franchise }}</p>
    <!-- Add other assurance properties here -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Assurance</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this assurance?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
  </div>
</ng-template>
