<div class="container-fluid position-relative p-0">

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">amortization schedule</h1>
  
            </div>
        </div>
    </div>
  <div class="container">
      <table class="table datatable" >
          <thead >
          <tr>
            <th>Montant Crédit</th>
            <th>Interet</th>
            <th>Amortissement</th>
            <th>Mensualite</th>
          </tr>
          </thead>
          <tbody *ngFor="let l of list">
          <tr>
            <td> <span >{{l[0]}} </span>
              <br>
          </td> 
          <td> <span >{{l[1]}} </span>
              <br>
          </td>
          <td> <span >{{l[2]}} </span>
              <br>
          </td>
          <td> <span >{{l[3]}} </span>
              <br>
          </td>
             
                                                                 
          </tr>
          </tbody>
      
        </table>
  
  </div>