<!-- Favicons -->
<link href="/assets/BackOffice/img/favicon.png" rel="icon">
<link href="/assets/BackOffice/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/BackOffice/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/BackOffice/vendor/simple-datatables/style.css" rel="stylesheet">
<app-navbar-back></app-navbar-back>
<app-sidebar-back></app-sidebar-back>

<br/><br/><br/><br/>
<router-outlet></router-outlet>

<app-footer-back></app-footer-back>


<!-- Template Main CSS File -->
<link href="/assets/BackOffice/css/style.css" rel="stylesheet">
