
<div class="container">
    <div class="brand-logo">
      <img src="/assets/FrontOffice/img/logo.png" alt="codeQR" class="img-fluid">
        
    </div>
    <div class="brand-title text-center">Crédit Max</div>
    <div class="inputs">
      <input type="number" name="Salaire" placeholder="Votre salaire Mensuel" [(ngModel)]="salaire"/>
      <hr>
      <input type="number" name="duree" placeholder="Durée Crédit en Mois"[(ngModel)]="nbMois" />
      <hr>
      <button (click)=" Max()" >Votre Crédit Maximal est </button>
    </div>
    <hr>
    <div class=" text-center"*ngIf="resultats">
        <p>{{ resultats }}</p>
    </div>

</div>
