
  <body>
    <div class="container">
        <div class="content">
          <h2>Réinitialisation du mot de passe</h2>
          <p>Veuillez saisir votre nouveau mot de passe.</p>
          <form>
            <input type="password" [formControl]="password" >
            <br>
            <br>
            <button type="button" (click)="resetPass($event)" > Envoyer </button>
            
          </form>
          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </body>
      