.service-img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img img {
  max-width: 100%;
  max-height: 100%;
}
