<main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Les Crédits</h5>
  
                <!-- Table with stripped rows -->
                <table class="table datatable" *ngIf="(credit$ | async) as credits">
                  <thead>
                    <tr style="text-align: center;  vertical-align: middle;">
                      <th>id</th>
                      <!-- <th>id utilisateur</th> -->
                      <th>Status Crédit</th>
                      <th>Pack Crédit</th>
                      <th>Date Deb </th>
                      <th>Montant Crédit</th>
                      <th>Durée</th>
                      <th>Annuité</th>
                      <th>Mensualité</th>
                      <th>Date PP</th>
                      <th>Historique</th>
                      <th>Late Times</th>
                      <th>Montant Restant</th>
                      <th>Relation Garant</th>
                      
                    </tr>
                  </thead>
                  <tbody style="text-align: center;  vertical-align: middle;">
                    <tr *ngFor="let c of credits">
                      <td>{{ c.id }}</td>
                      <!-- <td>{{ c. }}</td> -->
                      <td>{{ c.statusCredit }}</td>
                      <td>{{ c.packCredit }}</td>
                      <td>{{ c.dateDeb }}</td>
                      <td>{{ c.montant }}</td>
                      <td>{{ c.duree   }}</td>
                      <td>{{ c.annuite }}</td>
                      <td>{{ c.paiementMensuel }}</td>
                      <td>{{ c.datepp }}</td>
                      <td>{{ c.creditHistory }}</td>
                      <td>{{c.lateTimes}}</td>
                      <td>{{ c.montantRestant }}</td>
                      <td>{{c.realtionGarant}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
</main>