<app-head-front></app-head-front>

<!-- <app-header-front></app-header-front> -->

<router-outlet></router-outlet>

<body>

    <div class="container-fluid bg-primary py-6 bg-header" style="margin-bottom: 60px;" *ngIf="(pack$ | async) as packs">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Nos Packs Crédit</h1>
                
            </div>
        </div>
    </div>
  
  <!-- Full Screen Search Start -->
    <!-- <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Full Screen Search End -->


    <!-- Service Start -->
    <div class="container-fluid py-10 wow fadeInUp" data-wow-delay="0.1s" *ngIf="(pack$ | async) as packs">
        <div class="container py-10">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6" *ngFor="let p of packs">
                    <div class="wow zoomIn" data-wow-delay="0.3s">
                        <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-shield-alt text-white"></i>
                            </div>
                            <h4 class="mb-3">{{ p.nom }}</h4>
                            <p class="m-0">{{ p.description }}</p>
                            <a class="btn btn-lg btn-primary rounded" [routerLink]="['/Pack',p.id]" (click)="redirectToDetails(p)">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    
</body>

<!-- <app-footer-front></app-footer-front> -->