<body>
<div class="container">
    <div class="content">
      <h2>Réinitialisation du mot de passe</h2>
      <p>Veuillez saisir votre adresse e-mail. Vous recevrez un lien pour changer votre mot de passe.</p>
      <label for="email">Entrez votre adresse e-mail :</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
      <button (click)="forgotPassword()">Envoyer</button>
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
    </div>
  </div>
</body>
  