<app-head-front></app-head-front>

<div class="container-fluid bg-primary py-6 bg-header" style="margin-bottom: 60px;" >
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Mon crédit</h1>
            
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp " data-wow-delay="0.1s" *ngIf="credit1 | async as credit">
    <div class="container py-9">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-0 mb-3">
                    <div class="wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Date début Crédit : {{credit.dateDeb}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Durée Crédit : {{credit.duree}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Montant Crédit : {{credit.montant}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Annuité : {{credit.annuite}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Mensualité : {{credit.paiementMensuel}}</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Date prochain paiement : {{credit.datepp}}</h5>
                        <button class="btn btn-primary" (click)="openAddTransModal(addTransModal)"> + </button>


                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Placer le composant ici pour qu'il soit côte à côte avec le contenu précédent -->
                <app-monthly-payment-front></app-monthly-payment-front>
            </div>
        </div>
    </div>
    <ng-template #addTransModal let-modal>
        <div class="container p-0">
            <div class="card px-4">
                <p class="h8 py-3">Payment Details</p>
                <div class="row gx-3" *ngIf="credit1 | async as mp">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Person Name</p>
                            <p> Vous venez de passer un paeiment mensuel pour le credit id : </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Montant à payer </p>
                            <input class="form-control mb-3" type="text" placeholder="Montant à payer "[(ngModel)]="montant" >
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Date de paiement : </p>
                            <p class="text mb-1">{{ getCurrentDate() }}</p>
                        </div>
                    </div>
                    
                   
                    <div class="row mb-3">
                        <button class="btn btn-primary" (click)="addMonthlyPayment(id,montant)">Pay</button>
                    </div>

                    
                </div>
            </div>
        </div>
    </ng-template>
</div>
