 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center" >

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="align-items-center">
        <img src="/assets/FrontOffice/img/logo.png" alt="" style="width: 150px; height: 150px;">

      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    

    <nav class="header-nav ms-auto">
      
        <li class="nav-item dropdown pe-3" >

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown" >
            
            
            <span class="d-none d-md-block dropdown-toggle ps-2" >{{ currentUser?.nom }} {{ currentUser?.prenom }}</span>
          </a><!-- End Profile Image Icon -->
          
         <!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      
    </nav><!-- End Icons Navigation -->
    <i class="ri-logout-circle-line" style="font-size: 24px" (click)="logout()" ></i>
    

  </header><!-- End Header -->