<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin']">
          <i class="bi bi-grid"></i>
          <span>Dash Credit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/dashboard']">
          <i class="bi bi-grid"></i>
          <span>Dash Assur</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed " [routerLink]="['/admin/stat']">
          <i class="bi bi-grid"></i>
          <span>Dash User</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/afficherPack']">
          <i class="bi bi-grid"></i>
          <span>Pack Crédit</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/packs']">
          <i class="bi bi-grid"></i>
          <span>Pack Assur</span>
        </a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link collapsed " [routerLink]="['/admin/Credits']">
          <i class="bi bi-grid"></i>
          <span>Crédit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/Garants']">
          <i class="bi bi-grid"></i>
          <span>Garants</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed " [routerLink]="['/admin/assurances']">
          <i class="bi bi-grid"></i>
          <span>Assurances</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed " [routerLink]="['/admin/sinistres']">
          <i class="bi bi-grid"></i>
          <span>Sinistres</span>
        </a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/admin/users']">
          <i class="bi bi-grid"></i>
          <span>Users</span>
        </a>
      </li>

      <li class="nav-item"data-bs-toggle="collapse">
        <a class="nav-link collapsed" [routerLink]="['/admin/profil'] " >
          <i class="bi bi-person" ></i>
          <span>Profile</span>
        </a>
      </li>

    </ul>


     

  </aside><!-- End Sidebar-->

  
  