<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main id="main" class="main">
  <section class="section">        
    <div class="row">
  
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">

              <!-- nbr Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <div class="card-body">
                    <h5 class="card-title"> Total Crédits<span></span></h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ nbr }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End nbr Card -->

  
              <!-- total Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card appointment-card">
                  <div class="card-body">
                    <h5 class="card-title">Nombre Crédit</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ total }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End total Card -->

  
              <!-- Clo Card -->
              <div class="col-xxl-4 col-xl-12">
  
                <div class="card info-card customers-card">
  
                  <div class="card-body">
                    <h5 class="card-title">Crédits cloturés</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{clo}}</h6>
                      </div>
                    </div>

                  </div>
                </div>
  
              </div><!-- End Clo Card -->
  
              
  
              <!-- Recent Sales -->
              <div class="col-12">
                <div class="card recent-sales overflow-auto">
  
                  <div class="card-body">
                    <h5 class="card-title">transactions </h5>
  
                    <table class="table table-borderless datatable" *ngIf="(act$ | async) as acts">
                      <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">date</th>
                          <th scope="col">Montant</th>
                          <th scope="col">Statut</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let a of acts.slice().reverse()">
                          <td>{{a.id}}</td>
                          <td>{{a.date}}</td>
                          <td>{{a.montant}}</td>
                          <td>
                            <span *ngIf="a.rib_destination === 0" class="badge bg-success">Entrante</span>
                            <span *ngIf="a.rib_source=== 0" class="badge bg-danger">Sortante</span>
                            </td>                       
                      </tr>
                        
                      </tbody>
                    </table>
  
                  </div>
  
                </div>
              </div><!-- End Recent Sales -->
  
             
  
            </div>
          </div>
          <!-- End Left side columns -->
  
          <!-- Right side columns -->
          <div class="col-lg-4">

            

          
            <!-- Recent Activity -->
            <div class="card" #activityCard style="overflow-y: hidden;">
              <div class="card-body">
                <h5 class="card-title">Activités Récentes de transaction </h5>
                <div class="activity" *ngIf="(act$ | async) as acts">
                  <div class="activity-item d-flex" *ngFor="let a of acts.slice().reverse()">
                    <div class="activite-label" style="margin-right: 15px;"style="margin-top: 15px;">#{{a.id}}</div>
                            <i [ngClass]="{ 'bi-circle-fill': true, 'green-circle': a.rib_destination === 0, 'text-danger': a.rib_source === 0 }" class='bi activity-badge align-self-start'style="margin-top: 16px;"></i>

                    <div class="activity-content" style="margin-left: 15px;" style="margin-right: 15px;">
                      <div class="message-background"[ngClass]="{ 'red-bg': a.rib_source === 0, 'green-bg': a.rib_destination === 0 }">
                      {{ a.rib_source === 0 ? 'un nouveau Crédit de '+a.montant+' a été pris': (a.rib_destination === 0 ? 'Un paiement mensuel de '+a.montant+' a été fait' : a.montant) }}
                    </div></div>
                  </div><!-- End activity item-->
                </div>
              </div>
            </div>
            <!-- End Recent Activity -->

            <div class="row justify-content-center">
              <div class="col-md-6">
                  <div id="chart-container">
                      <div id="chart"></div>
                  </div>
                  <p></p>
              </div>
          </div>
          
          


            
            


  
          
  
            
  
          </div><!-- End Right side columns -->
  
        </div>
  
  </section>

  
</main>